@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
	--primary-cyan: hsl(180, 66%, 49%);
	--second-cyan: hsl(180, 66%, 70%);
	--primary-light: #fff;
	--primary-dark-violet: hsl(257, 27%, 26%);
	--secondary-red: hsl(0, 87%, 67%);
	--neutral-gray: hsl(0, 0%, 75%);
	--neutral-grayish-violet: hsl(257, 7%, 63%);
	--neutral-very-dark-blue: hsl(255, 11%, 22%);
	--neutral-very-dark-violet: hsl(260, 8%, 14%);
	--primary-font-family: 'Poppins', sans-serif;
}

.container {
	text-align: center;
	font-family: var(--primary-font-family);
}

body {
	/* background-color: rgba(0, 0, 0, 0.603); */
	overflow-x: hidden;
	/* color: white; */
}

.main-container {
	max-width: 700px;
}
